body {
  background-color: #ff8c00;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  height: 175px;
}

table {
  border-spacing: 5px;
  border: solid;
  border-width: 1px;
  width: 100%;
}

#record {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  width: 150%;
  height: 100%;
}

#btnGiveCommand {
  margin-left: 10px;
}

a {
  color: black;
}
